<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="./normalize.css" />
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  </head>
  <body>
    <div class="wrap">
      <div class="wrap_content"></div>
      <div class="wrap_bottom"></div>
    </div>
  </body>
  <style>
    .wrap {
      background-color: #f9f9f9;
      box-sizing: border-box;
      padding-top: 10px;
      width: 100vw;
    }
    .wrap_content {
      width: 90vw;
      height: 1000px;
      margin: 0 auto;
      padding-bottom: 10px;
      box-sizing: border-box;
      background-color: #d2b96a;
    }
    /* FiX */
    .wrap_bottom {
      width: 100vw;
      height: 100px;
      background-color: #fff;
      position: fixed;
      bottom: 0;
      box-sizing: border-box;
    }
  </style>
  <script src="./index.js"></script>
</html>
