<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>固定高度 + 绝对定位</title>
    <style>
      .container {
        position: relative;
        min-height: 100vh;
      }
      main {
        padding-bottom: 100px;
      }
      header,
      footer {
        line-height: 100px;
        height: 100px;
      }
      footer {
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <header>Header</header>
      <main>Content</main>
      <footer>Footer</footer>
    </div>
  </body>
</html>
